// boomi integration primary color -> #02293b
// boomi integrtion secondary color -> #ff7c66
// Color formats
$PrimaryColor-text: #333333;
$PrimaryColor-bg: #02293b;
$PrimaryButton-bg: #5C6BC0;
$Secondary-color: #ff7c66;


$Margin-top: 6%;